footer {
  position: relative;
  overflow: hidden;
  padding: 2rem 0 2rem 17rem;
  &:before {
    content: '';
    position: absolute;
    width: 200%;
    height: 70vw;
    background: $red;
    transform: rotate(-45deg);
    //    transform-origin: -10vw 100% 0;
    left: -125vw;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
  }
  .router-link-active {
    svg {
      height: 150px;
      path {
        fill: white !important;

      }
    }
  }
  .address {
    p {
      text-transform: uppercase;
      letter-spacing: 0;
      font-size: 1rem;
      &.name {
        font-size: 1.5rem;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
      }
      color: white;
      line-height: 1;
    }
  }
  .social {
    list-style: none;
    margin: 2rem 0;
    padding: 0;
    li {
      display: inline-block;
      margin-right: .5rem;
      a {
        color: white;
        font-size: 2rem;
        display: block;
        line-height: 1;

        i.square {
          //          display: block;
          &:before {
            color: $red;
            font-size: 1.5rem;
            background: #fff;
            padding: 1.75px 4px 1.45px 3px;
            border-radius: 5px;
            text-align: center;
            position: relative;
            top: -2px;
            left: .5px;
          }
        }
      }
    }
  }
}
