.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover;';
  opacity: .25;
  opacity: 1;
  z-index: 3;
}
.mobile-bar-container {
  //  position: fixed;
  //  z-index: 10;
  .contextual-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 0 65px;
    z-index: 2;
    transform: translateY(100%);
    transition: .35s ease;
    //    top: 0;
    &.open {
      transform: translateY(0);
      &:before {
        transition: .35s ease .15s;
        width: calc(100vw + 1px);
      }
    }
    &:before {
      content: '';
      position: relative;
      display: block;
      width: 0;
      height: 100vw;
      background: url(#{$theme}/img/white-triangle-reversed.svg);
      background-position: 0% 100%;
      background-size: cover;
      top: 1px;
      background-repeat: no-repeat;
      left: 0;
      transition: .35s ease;
    }
    ul {
      padding: 1rem 2rem 1rem;
      margin: 0;
      list-style: none;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      background: white;
      max-height: 45vh;
      //      &:after {
      //        width: 100%;
      //        pointer-events: none;
      //        height: 30%;
      //        position: absolute;
      //        background: #fff;
      //        z-index: 0;
      //        content: "";
      //        left: 0;
      //        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 100%);
      //        bottom: 0;
      //      }
      li {
        a {
          font-size: 2rem;
          color: $grey;
          font-family: 'Heroic Condensed';
          font-weight: normal;
          font-style: normal;
          text-transform: uppercase;
          letter-spacing: 0;
          padding: 0;
          display: block;
          line-height: 1.5;

          // (768px)
          @include media-portrait-up(md) {

            font-size: 4rem
          }

        }
        &:last-child {
          //          padding-bottom: 3rem;
        }
      }
    }
    &.has-overflow {
      ul {
        //        padding-bottom: 2rem;
      }
      &:after {
        content: 'Scroll for More';
        text-transform: uppercase;
        font-family: 'Heroic Condensed';
        font-size: 1.25rem;
        bottom: 0;
        background: $red;
        left: 0;
        color: white;
        width: 100%;
        display: block;
        padding: .35rem 2rem .1rem;
      }
    }
  }
}
.mobile-nav {
  background: $red;
  //  transition: .3s ease;
  margin: 0;
  display: flex;
  padding: 0 0 15px 0;
  align-items: flex-end;
  z-index: 3;
  opacity: .8;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;


  // (768px)
  @include media-breakpoint-up(md) {
  align-items: center;

  }
  // (768px)
  @include media-breakpoint-down(sm) {
  align-items: flex-end;

  }

  .menu-transition {
    opacity: 0;
    transform: scale(1.1);
    transition: transform .3s ease;
    @include media-landscape-down(sm) {
      .col-sm-8 {
        max-width: 50%;
      }
    }
  }
  .main-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      text-align: left;
      margin: 0;
      padding: 0;
      line-height: 1.25;
      a {
        display: block;
        text-align: left;
        font-weight: 900;
        text-decoration: none;
        pointer-events: all;
        //      transition: .3s ease;
        padding: .25rem 0;
        font-size: 4.5vh;
        line-height: 1;
        letter-spacing: -.1rem;
        text-transform: uppercase;
        @include textGlitch("textGlitch", 17, white, $red, $green, $purple, 450, 66);


        @include media-landscape-down(sm) {

          font-size: 1.75rem;

        }
        &:hover {
          //        color: black;
          &:before {
            background: $red
          }
          &:after {
            color: $purple
          }
        }
        //      @include glitch;
      }
    }
  }
  .social {
    list-style: none;
    margin: 3rem 15px 1rem;
    padding: 0;
    li {
      display: inline-block;
      margin-right: .5rem;
      a {
        color: white;
        font-size: 2rem;
        display: block;
        line-height: 1;
        font-family: fontawesome;
        pointer-events: all;
        @include textGlitch("sociallink", 17, white, $red, $green, $purple, 400, 24);
        &:hover {}
        i.square {
          //          display: block;
          &:before {
            color: $red;
            font-size: 1.5rem;
            background: #fff;
            padding: 1.75px 4px 1.45px 3px;
            border-radius: 5px;
            text-align: center;
            position: relative;
            top: -2px;
            left: .5px;
          }
        }
      }
    }
  }
  .offerings {
    p {
      font-weight: bold;
      font-size: 1rem;
      color: white;
      margin: 2rem 0 .5rem;
      text-transform: uppercase;
      line-height: 1;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        a {
          font-family: 'Heroic Condensed';
          font-size: 2.25rem;
          color: white;
          font-weight: normal;
          line-height: 1;
          padding: .25rem 0;
          display: block;
          text-transform: uppercase;
          pointer-events: all;


        @include media-portrait-up(md) {

          font-size: 4rem;

        }
        @include media-landscape-down(md) {

          font-size: 4rem;

        }
        @include media-landscape-down(sm) {

          font-size: 2rem;

        }

          @include textGlitch("offerings", 17, white, $red, $purple, $green, 450, 66);
          //          letter-spacing: .25rem;
        }
      }
    }
  }
  .address {
    p {
      text-transform: uppercase;
      letter-spacing: 0;
      font-size: 1rem;
      &.name {
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        margin: 1rem 0;
      }
      color: white;
      line-height: 1;
    }
  }
}
.mobile-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  background: none;
  align-items: flex-end;
  padding: 0;
  width: 100%;
  height: 65px;
  transition: .3s ease;
  background: rgba(255, 255, 255, 0);
  &.down {
    transform: translateY(100%);
  }
  &.bg-white-90 {
    background: white;
  }
  // (768px)
  @include media-breakpoint-down(md) {
    //    padding: 1rem 15rem 1rem 2rem;
    //    background: url(#{$theme}/img/white-triangle.svg);
    //    background-position: 100% 100%;
    //    background-size: cover;
  }
  &.bg-white-90 {
    .context-toggle {
      opacity: 1;
    }
  }
  .context-toggle {
    font-size: 26px;
    color: $red;
    font-family: 'Heroic Condensed';
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0;
    padding: 16px 15px;
    display: inline-block;
    opacity: 0;
    transition: .5s ease;
    position: relative;
    &:after {
      content: '';
      font-family: fontawesome;
      color: $purple;
      margin-left: 6px;
      transition: .3s ease;
      transform-origin: 50% 50% 0;
      line-height: 1.35;
       pointer-events: none;
    }
    &.primary {
      &.toggled {
        opacity: 0;
        pointer-events: none;
      }
    }
    &.back {
      position: absolute;
      left: 0;
      background: white;
      opacity: 0;
      z-index: 0;
      pointer-events: none;
      &.back-open {
        opacity: 1;
        pointer-events: all;
      }
    }
    &.no-menu,
    &.back {
      &:after {
        content: none;
      }
    }
  }
  .router-link-active {
    svg {
      path {
        transition: .3s ease;
      }
    }
    &.white {
      svg {
        path {
          fill: white !important;
        }
      }
    }
  }
  .fa {
    cursor: pointer
  }
  .toggle {
    cursor: pointer;
    position: absolute;
    right: 10px;
    width: 34px;
    transform: scaleX(-1);
    height: 40px;
    width: 40px;
    bottom: 13px;
    // (768px)
    @include media-breakpoint-down(sm) {}
    #menu-icon {
      height: 40px;
      width: 40px;
      display: block;
      //      position: absolute;
      //      top: 0;
      //      left: 0;
      #icon {
        .st0 {
          fill: #E01931;
        }
        #row-1 {
          path {
            @include transition;
          }
        }
        #row-2 {
          path {
            @include transition;
          }
        }
        #row-3 {
          path {
            @include transition;
          }
        }
        #row-4 {
          path {
            @include transition;
          }
        }
        #row-5 {
          path {
            @include transition;
          }
        }
        #row-6 {
          path {
            @include transition;
          }
        }
        #row-7 {
          path {
            @include transition;
          }
        }
        #row-8 {
          path {
            @include transition;
          }
        }
        #row-9 {
          path {
            @include transition;
          }
        }
      }
    }
    //    &.footer-in-view {
    //      #menu-icon {
    //        #icon {
    //          path {
    //            fill: white !important;
    //          }
    //        }
    //      }
    //    }
    &:hover {
      #icon {
        #row-1 {
          path {
            @include animation;
          }
        }
        #row-2 {
          path {
            @include animation2;
          }
        }
        #row-3 {
          path {
            @include animation3;
          }
        }
        #row-4 {
          path {
            @include animation4;
          }
        }
        #row-5 {
          path {
            @include animation5;
          }
        }
        #row-6 {
          path {
            @include animation6;
          }
        }
        #row-7 {
          path {
            @include animation7;
          }
        }
        #row-8 {
          path {
            @include animation8;
          }
        }
        #row-9 {
          path {
            @include animation9;
          }
        }
      }
    }
    &.active {
      #close {
        opacity: 1;
        width: 40px;
        height: 40px;
        #center {
          transform-origin: 17px 16.75px 0;
          transform: scale(1);
          opacity: 1;
        }
        #right-upper {
          path {
            opacity: 1;
            &:nth-child(1) {
              transform: translate3d(0px, 0px, 0);
            }
            &:nth-child(2) {
              transform: translate3d(0px, 0px, 0);
            }
            &:nth-child(3) {
              transform: translate3d(0px, 0px, 0);
            }
            &:nth-child(4) {
              transform: translate3d(0px, 0px, 0);
            }
          }
        }
        #right-lower {
          path {
            opacity: 1;
            &:nth-child(1) {
              transform: translate3d(0px, 0px, 0);
            }
            &:nth-child(2) {
              transform: translate3d(0px, 0px, 0);
            }
            &:nth-child(3) {
              transform: translate3d(0px, 0px, 0);
            }
            &:nth-child(4) {
              transform: translate3d(0px, 0px, 0);
            }
          }
        }
        #left-lower {
          path {
            opacity: 1;
            &:nth-child(1) {
              transform: translate3d(0px, 0px, 0);
            }
            &:nth-child(2) {
              transform: translate3d(0px, 0px, 0);
            }
            &:nth-child(3) {
              transform: translate3d(0px, 0px, 0);
            }
            &:nth-child(4) {
              transform: translate3d(0px, 0px, 0);
            }
          }
        }
        #left-upper {
          path {
            opacity: 1;
            &:nth-child(1) {
              transform: translate3d(0px, 0px, 0);
            }
            &:nth-child(2) {
              transform: translate3d(0px, 0px, 0);
            }
            &:nth-child(3) {
              transform: translate3d(0px, 0px, 0);
            }
            &:nth-child(4) {
              transform: translate3d(0px, 0px, 0);
            }
          }
        }
      }
    }
    #close {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;
      .st0 {
        opacity: 0;
      }
      .st1 {
        fill: #FFFFFF;
      }
      path {
        transform-origin: 17px 16.75px 0;
        transition: .35s ease;
      }
      #center {
        transform: scale(7);
        opacity: 0;
      }
      .st0 {
        opacity: 1;
        path {
          opacity: 0;
          //          transition-delay: .3s;
        }
      }
      #right-upper {
        path {
          opacity: 1;
          @include close-upperright;
        }
      }
      #right-lower {
        path {
          opacity: 1;
          @include close-lowerright;
        }
      }
      #left-lower {
        path {
          opacity: 1;
          @include close-lowerleft;
        }
      }
      #left-upper {
        path {
          opacity: 1;
          @include close-upperleft;
        }
      }
    }
  }
}
.app-mode {
  .mobile-bar {
    height: calc(65px + 15px);
    .context-toggle {
      padding: 12px 15px;
    }
    .toggle {
      bottom: 30px;
    }
  }
}
