html {
  font-family: 'Gotham';
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  letter-spacing: -.05rem;
}
p,
li {
  font-family: 'Gotham';
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  line-height: 2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Heroic Condensed';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0;
}
